// Navigation code here

.nav-container {
    .flex-box;
    .flex-column;
    .flex-align-center;
    background-color: @nav-bg;
    max-width: 1024px;
    width: 100%;

    h1 {
        font-size: 4rem;
      }
      

}